style.css
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700")
import url("component.container/css")
body{
	font-family: "lora", serif;
	font-size: 18px;
	 h1, h2, h3 {
	 	ont-family: "lora", serif;
	font-weight: bold;
	 }
}